.scrollUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.scrollUp.visible {
  opacity: 1;
}

.scrollUp:not(.visible) {
  opacity: 0;
}

.scrollUp:focus {
  outline: white;
}
