.navigation {
  gap: 20px;
  font-size: 42px;
  padding: 20px 0;
  display: flex;
  justify-content: start;
}

.link {
  color: whitesmoke;
  font-weight: bold;
}
.activeLink {
  color: lightseagreen;
}

.navigation a:hover {
  color: teal;
}
