.container {
  width: 500px;
  margin: 30px 20px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 30px;
}

.input {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 300px;
  height: 20px;
  border: 1px solid teal;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px rgb(2, 203, 203);
  margin-bottom: 10px;
  padding: 4px 6px;
  background-color: #242424;
  margin: 10px auto;
  color: whitesmoke;
}

.input:focus {
  border-color: whitesmoke;
  outline: none;
}

.input::placeholder {
  color: lightslategray;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.btn {
  width: 140px;
  height: 30px;
  margin: 10px auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: teal;
  color: whitesmoke;
  border: none;
  box-shadow: 0 0 1px 2px rgb(94, 209, 209);
  transition: background-color 2s ease, color 2s ease;
  padding: 0;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(94, 209, 209);
  color: #213547;
  border: none;
}

.btn:focus {
  border-color: greenyellow;
  outline: none;
}

.customUl {
  list-style: none;
  text-align: start;
  padding: 0;
}

.customLi {
  color: whitesmoke;
}
