.container {
  width: 100%;
}

.movie_cast {
  list-style-type: none;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0;
}

.movies_cast_li {
  color: whitesmoke;
  padding: 0;
  width: 300px;
  text-align: center;
}
