.container {
  width: 100%;
}

.customUl {
  list-style-type: none;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  box-sizing: border-box;
  padding: 60px 10px 40px 10px;
  margin: 0;
}
